<h4>{{ subject }}</h4>
{% import "w.html" as w %}
{% for message in thread %}
<div id="message-{{ message.imapid }}" class="message {% if not message.seen %}unread{% endif %} {% if message.seen and hide_first_mails %}email-hidden{% endif %} {{ loop.cycle('message-odd', 'message-even') }}">
        <div class="header" onclick="javascript:expand_thread('message-{{ message.imapid }}')">
            {% autoescape false %}
            <div class="sender"><a target="_blank" href="{{message.sender[2]}}">{{message.sender[0]}}</a> <span class="softemail">{{message.sender[1]}}</span></div>
            {% endautoescape %}
            <div class="date">{{message.date}}</div>
            <div class="clearer"></div>
        </div>
        <div class="message-content content">
            <p class="button-box">
                <span class="mark-read">{{ w.button("Mark as read", "javascript:mark_as_read(%s, %s)" % (message.imapid, message.feedid)) }}</span>
                <span class="mark-unread">{{ w.button("Mark as unread", "javascript:mark_as_unread(%s, %s)" % (message.imapid, message.feedid)) }}</span>
                <div class="clearer"></div>
            </p>
            {% autoescape false %}
            {{message.body}}
            {% endautoescape %}
        </div>
    </div>
{% else %}
Thread empty
{% endfor %}
