body {
overflow:hidden;
}
.list .date {
    font-size:1em;
}
.list .date, .list .sender, .list .subject {
    display:block;
    margin:0;
    padding:0;
    height:1.5em;
}
.list .date {
    text-align:right;
    position:relative;
    top:-1.66em; /* subtle computing to handle the font size decrease: 1.5 + (1/0.82*1.5 - 1.5)/2 */
    left:0;
}
.list .subject {
    clear:both;
    margin-top:-1.6em;
    white-space:normal;
    height:auto;
}

.list .subject span {
    font-size:0.92em;
    padding:0;
}

.list .sender, .list .nosender .subject {
    padding-right:9em;
}
.list .date span {
    font-size:0.85em;
}

.list .nosender .date {
    top:-0.5em;
}
.list .nosender .subject {
    white-space:nowrap;
}

#firstpane li {
    list-style-type:none;
}
#firstpane > ul {
    padding:0;
    clear:both;
}

/*#firstpane > .button {
    float:none;
}*/

.rss .message {
    box-shadow:none;
    background-color:transparent;
    border:none;
    border-top:1px solid lightgrey;
    border-radius:0;
}
.rss div > .message:nth-child(2) {
    border-top:none;
}

.rss {
    background-color:#f3f3f3;
}

.rss .message .header {
    background:none;
    padding-left:0;
}

.rss .sender {
    color:black;
    /*font-weight:bold;*/
    font-size:1.4em;
}
.rss .sender a {
    color:black;
    text-decoration:none;
}

.rss .sender a:hover {
    text-decoration:underline;
}

.rss .softemail {
    font-size:0.8em;
    font-weight:normal;
}

.rss .unread .sender {
    font-weight:bold;
}

.message-content.content {
    background-color:transparent;
}

.rss .message .sender {
    padding-right:7em;
    display:block;
    float:none;
    width:auto;
}

.rss .message .date {
    margin-top:-1.5em;
    width:auto;
    float:right;
}

.message.unread .mark-read {
    display:block;
}
.message.unread .mark-unread {
    display:none;
}
.message .mark-read {
    display:none;
}

.hiddenbottom {
    position:absolute;
    top:100%;
    left:0;
    margin-top:0em;
    height:4em;
    border-top:1px solid lightgrey;
    width:17em;
    font-size:0.9em;
    text-align:center;
}

#progresstext {
    display: block;
    width:100%;
    float:none;
}
#progressimg {
    display:inline;
}

.button, .linkable {
    cursor:pointer;
}

#viewswitcher {
    float:right;
}

.rss .list .sender {
    font-size:1.1em;
    color:purple;
}

.modebutton .button img {
    display: block;
}
.modebutton .button > span > span {
    margin:0.1em;
    display: block;
}

.rss .message-content {
}
.rss .message-content p {
    text-indent:1em;
}
