@import url(layout.css);
body            { font-size:1em; height:100%; width:100%; position:absolute; margin:0; padding:0; display:block; font-family: sans-serif; background: #fff; }
a, h1, h2       { color: #377BA8; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.1em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     {
}
.entries li a {
    display:block;
    width: 100%;
    color:#333;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-decoration:none;
    background-color:white;
}
.entries li a.even {
    background-color:#eee;
}
.entries li a span {
    display:block;
    padding: 0.5em;
    overflow:hidden;
    text-overflow:ellipsis;
}
.entries li a:hover {
    /*border-top:0.5px #e5e5e5 solid;
    background-image:linear-gradient(top, #e1e1e1 0%, #d5d5d5 100%);
    background-image:-moz-linear-gradient(top, #e1e1e1 0%, #d5d5d5 100%);
    color:white;
    text-decoration:underline;
    background-color:#243EA7;*/
    background-color:#ddd;
}
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

a:active, a:focus {
  outline:none;
}

#content {
  display:block;
  width:100%;
  float:left;
  height:100%;
  overflow:auto;
}
#sidebar {
  float:left;
  width:0%;
  overflow:scroll;
  overflow-x:auto;
  height:100%;
  background-color:white;
}
#sidebar img.loading {
    margin:auto;
    display:block;
    margin-top:45%;
}

.clearer {
  clear:both;
}
.message {    
    margin:0.5em;
}

/*.message, .page-centered {
    background-color:#fdfdfd;
    border-radius:4px;
    box-shadow: 0 0 1.5px 1.5px #eee;
    border:1px solid #ccc;
}

.message.not-seen .header {
    background-color:#e2e2e0;
    text-decoration:underline;
}

.message.not-seen .sender {
    font-weight:bold;
}
.message .header, .page-centered .header {
    background-color:#f2f2f0;
    padding:0.5em;
    border-radius:4px;
    border-bottom:1px solid #ccc;
    box-shadow: 0px 1px 1px 0px #eee;
}*/

.message .content, .page-centered .content {
    padding:1em;
}

#sidebar h4 {
    margin:0.8em;
}

.message .sender {
    float:left;
    text-align:left;
}
.message .date {
    float:right;
    text-align:right;
    font-size:0.85em;
    margin-top:0.075em;
}

#mainsubdiv {
    margin-left:15.3em;
}
.email #mainsubdiv {
    margin-left:0;
}
#mailboxes, #firstpane {
    position:absolute;
    height:100%;
    width:17em;
    padding:0;
    background-color:#FDFDFC;
    margin:0;
    font-size:0.9em;
    border-right: 1px solid #bbb;
}
.email #firstpane {
    height:4em;
    width:100%;
    top:-1px;
    border-bottom:grey 1px solid;
}
.email #firstpane > * {
    float:left !important;
    clear:none !important;
}
.email #rootelements > li {
    clear:none;
    display:inline;
    float:left;
}
.email #content {
    position:absolute;
    top:3.6em;
    left:0em;
    right:0px;
    bottom:0px;
    height:auto;
}
.email #sidebar {
    position:absolute;
    left:40%;
    top:3.6em;
    bottom:0px;
    height:auto;
}
#mailboxes li a span, #firstpane li a > span {
    padding: 0.3em;
    display:block;
    padding-left: 0.8em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#mailboxes li a, #firstpane li a {
    display:block;
    width:100%;
    text-decoration:none;
    color:#444;
}

#mailboxes li.inline a img {
    display:block;
    min-height:32px;
    float:left;
    width:auto;
}

#mailboxes li.inline {
    padding:10px;
    text-align:center;
    list-style-type:none;
}
#mailboxes li.inline:hover {
    background-color:transparent;
}

#mailboxes li:hover, #firstpane li:hover  {
    background-color:#E2E4E0;
}

.modebutton > li:hover {
    background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #efefef 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
}

#sync {
    min-height:40px;
}

#sync-item .sync-text {
    display:block;
    float:left;
    width:50%;
}

#sync {
    display:block;
    text-align:center;
    float:left;
    width:50%;
}

li.unread {
font-weight:bold;
}

.centered-vertical {
    margin-top:-10em;
    margin-left:-250px;
    width:500px;
    height:20em;
    position:absolute;
    left:50%;
    top:50%;
}

#mailboxes .selected, #rootelements .selected {
    background-color:#eee;
}
.entries .selected a {
background: url("triangle.png") right center no-repeat;
background-size:1em 2em;
}
/*
#popup-background {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    background-size:100px 100px;
    /*background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);*/
    /* http://lea.verou.me/demos/css3-patterns.html */
    /*background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, rgba(205, 205, 205, 0.28) 25%, rgba(205, 205, 205, 0.28) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%,rgba(205, 205, 205, 0.28) 75%, rgba(205, 205, 205, 0.28));*/
  /*  background-color:rgba(250, 250, 250, .95);
    width:100%;
    height:100%;
    display:none;
}

#popup-block {
    width:50%;
    margin:auto;
    margin-top:4em;
    /*background-color:#000;*/
/*}


#popup-block-close {
    float:right;
    display:block;
    font-weight:bold;
    text-decoration:none;
    height:1em;
    width:1em;
    text-align:center;
}
*/
h4 {
    margin:0;
    margin-bottom:0.2em;
    font-weight:normal;
    font-size:1.1em;
    margin-left:-0.5em;
}

/*#popup-block-content {
    margin-left:0.5em;
}*/

ul.dropdown {
    position:relative;
    display:none;
    padding:0;
    margin:0;
}

div.dropdown.expanded ul.dropdown {
    display:block;
}

ul.dropdown li {
    list-style-type:none;
    display:block;
    clear:both;
    border:none;
    float:none;
    
}
div.dropdown {
    display:block;
    float:left;
    height:1em;
    width:100%;
}
div.dropdown  a {
    float:none !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
div.dropdown div ul.link li {
    clear:both;
    display:block;
    list-style-type:none;
}
div.dropdown div a {
    padding:0.2em;
    width:auto !important;
}
div.dropdown div {
    border:1px solid transparent;
}
div.dropdown.expanded div {
    background:white;
    border:1px solid #ddd;
    box-shadow: 0px 0px 4px #ccc;
}

.modebutton {
    padding:0;
    display:table; /*inline-block;*/
    width:100%;
    border-radius:5px;
    white-space:nowrap;
    box-shadow: 0px 0px 3px #ccc;
    background-image: linear-gradient(bottom, #528B31 12%, #73A74F 56%, #96C96F 78%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
}
.modebutton > li:first-child {
    border-radius:5px 0px 0px 5px;
    border-left:1px solid lightgrey;
}
.modebutton > li:last-child {
    border-radius:0px 5px 5px 0px;
}
.modebutton > li {
    display:table-cell;
    border:1px solid lightgrey;
    border-left:none;
    min-height:32px;
    width:32px;
    padding:0.2em;
    vertical-align:top;
}

.modebutton .mailadress {
    text-align:center;
    width:auto;
}

.email-hidden .message-content {
    display:none;
}



/* elementary */

#sidebar {
    background-color:white;
}

/* Hide subject */
#sidebar > h4 {
    display:none;
}

.message {
    border-top: 1px solid lightgrey;
    /*background-color:#F8F8F8;
    box-shadow:0 1px 3px #aaa;
    margin:0.5em;
    border-radius:5px;*/
    padding:0.25em 0.35em;
    margin-top:0em;
    padding-top:0.5em;
}

.message:nth-child(2) {
    border-top:0px;
}

.message .header {
    background:url(img/arrow.png) no-repeat left center transparent;
    padding-left:15px;
    cursor:pointer;
}
.message-content {
    border-top: 1px solid #EEEEEE;
    margin-top:0.3em;
    padding:0.3em 0.7em;
}
.email-hidden > .header {
    background:url(img/arrow-left.png) no-repeat left center transparent;
}

.date {
    color:#58AAD2;
}

.not-seen.message .sender {
    font-weight:bold;
}
.not-seen.message {
    border-width:3px;
}

blockquote {
    color:grey;
    margin:0.2em;
}
