    {% import 'w.html' as w %}
        <div class="staticnotebook">
        <div class="modebutton">
        {{ w.button("Mailboxes") }}
        {{ w.button("Connexion") }}
        </div>
        <div class="static-frame static-0">
<h4>Synced Mailboxes:</h4>
<form>
{% for mb in all_mailboxes %}
<input onchange="javascript:update_mailbox('{{ mb[0] }}', this.checked)" type="checkbox" name="{{ mb[1] }}" {% if not (mb[1] in unselected_mailboxes) %} checked {% endif %} id="{{ mb[1] }}" /><label for="{{mb[1]}}">{{ mb[1] }}</label>
<br />
{% endfor %}
</form>
        </div>
        <div class="static-frame static-1">
            <form>
                <input type="text" class="entry" />
            </form>
        </div>
        </div>
<script type="text/javascript">
    function update_mailbox(mailbox, value) {
        $.getJSON('/ajax/settings/{{ account }}/mailbox;' + mailbox + '/' + Number(value), {}, null);
    }
    $(".modebutton > a").click(function(object) {
        $(this).parent().children("a").removeClass("active");
        $(this).addClass("active");
    });
    $(".staticnotebook > .modebutton > a").click(function(object) {
    /* Hide all the panes */
    $(this).parent().parent().children(".static-frame").hide();
    $(this).parent().parent().children(".static-" + $(this).parent().children().index($(this))).show();
    });
</script>
