{% extends "root.html" %}
{% block body %}
<a href="javascript:sync('inbox')">Sync</a>
<div id="sync"></div>

<ul class=entries>
    {% for entry in emails %}
    <li id="entry-{{entry.imapid}}">
    <a href="javascript:view_thread('{{entry.imapid}}')" class="{{ loop.cycle('odd', 'even') }}">
        <span>
            {% if not entry.seen %}
            <strong>{{ entry.subject }}&nbsp; {{ entry.sender }}</strong>
            {% else %}
            {{ entry.subject }}&nbsp; {{ entry.sender }}
            {% endif %}
        </span>
    </a>
    </li>
        {% else %}
    <li><em>Unbelievable. No entries here so far</em>
    {% endfor %}
    <a href="/{{ page-1}}">&lt;&lt;</a>
    <a href="/{{ page+1}}">&gt;&gt;</a>
</ul>

{% endblock %}
