{% extends "page.html" %}
{% import "w.html" as w %}
{% block body %}
        <div id="firstpane">
            {% if sync_button %}{{ w.button("Sync", sync_button, id="sync-button") }}{% endif %}
            <ul id="rootelements">
                {% block list %}{% endblock %}
            </ul>
        </div>
        <div id="content">
            <div class="list">
                <div id="subitems-block">{% block subitems %}{% endblock %}</div>
            </div>
        </div>
        <div id="sidebar">...</div>
        <div class="clearer"></div>
        <div id="popup-background" class="popup-background">
            <div class="popup-wrapper">
            <div class="popup-block-horiz">
                <div class="popup-block-vert">
                    <div id="popup-block" class="content popup-block-content">
                        <a class="close-button" href="javascript:close_popup('popup-1')"><img src="{{ url_for('static', filename='img/close.png') }}" /></a>
                        <div class="header"><h1><span id="popup-block-header">Loading...</span></h1></div>
                        <div class="content" id="popup-block-content">...</div>
                    </div>
                </div>
            </div>
            </div>
       </div> 

{% endblock %}
