{% extends "page.html" %}
{% import "w.html" as w %}
{% block body %}
        <div id="firstpane">
            <div class="toptools">{% block rootelementstop %}{% endblock %}<div class="clearer"></div></div>
            <ul id="rootelements">
                {% block rootelements %}{% endblock %}
            </ul>
        </div>
        <div id="contentcont">
        <div class="{% if default_list %}list{% endif %}" id="content">
            <div id="mainsubdiv">
                <div id="subitems-block">{% block subitems %}{% endblock %}</div>
            </div>
        </div>
        </div>
        <div id="sidebar">{% block sidebar %}{% endblock %}</div>
        <div class="clearer"></div>
        <div id="popup-background" class="popup-background">
            <div class="popup-wrapper">
            <div class="popup-block-horiz">
                <div class="popup-block-vert">
                    <div id="popup-block" class="content popup-block-content">
                        <a class="close-button" href="javascript:close_popup('popup-1')"><img src="{{ url_for('static', filename='img/close.png') }}" /></a>
                        <div class="header"><h1><span id="popup-block-header">Loading...</span></h1></div>
                        <div class="content" id="popup-block-content">...</div>
                    </div>
                </div>
            </div>
            </div>
       </div> 
        <div class="hiddenbottom">
            <div class="bottomlist"><img src="/static/img/loading24.gif" /></div>
            <span id="progresstext">Some funny text</span>
            <span id="progressbar"><img src='/static/loading.gif' class='loading' /></span>
        </div>

{% endblock %}
