<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}" ></script>
        <script type="text/javascript">
            sidebar_view = false;
            function view_message(id) {
                $("#sidebar").html("...");
                if(!sidebar_view) {
                    $("#sidebar").css({width:"50%"});
                    $("#content").css({width:"50%"});
                }
                sidebar_view = true;
                $.getJSON('/mails/' + id, {}, function(data) {
                    $("#sidebar").html(data.message);
                });
            }
            function sync(mailbox) {
                $("#sync").html("...");
                $.getJSON('/sync/' + mailbox, {}, function(data) {
                    $("#sync").html("Done");
                });
            }
            function view_thread(id) {
                $("#sidebar").html("...");
                if(!sidebar_view) {
                    $("#sidebar").css({width:"50%"});
                    $("#content").css({width:"50%"});
                }
                sidebar_view = true;
                $.getJSON('/mails_thread/' + id, {}, function(data) {
                    $("#sidebar").html(data.message);
                });
            }
        </script>
    </head>
    <body>
        <div id="content">
<a href="javascript:sync('inbox')">Sync</a>
<div id="sync"></div>

        {% block body %}{% endblock %}
                                                        </div>
        <div id="sidebar">...</div>
        <div class="clearer"></div>

    </body>
</html>

