<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}" ></script>
        <script type="text/javascript">
            sidebar_view = false;
            function view_message(id) {
                $("#sidebar").html("...");
                if(!sidebar_view) {
                    $("#sidebar").css({width:"50%"});
                    $("#content").css({width:"50%"});
                }
                sidebar_view = true;
                $.getJSON('/mails/{{ mailbox }}/' + id, {}, function(data) {
                        $("#sidebar").html(data.message);
                });
            }
            function open_sync(mailbox) {
                $.getJSON('/ajax/threadslist/{{ account }}/' + mailbox, {}, function(data) {
                        $("#thread-list").html(data.thread_list);
                });
            }
            function sync_full() {
                $("#sync").html("<img src='{{ url_for('static', filename='loading.gif') }}' class='loading' />");
                $.getJSON('/sync/{{ account }}', {}, function(data) {
                        $("#sync").html("");
                        if(data.success) {
                            open_sync("{{ mailbox }}/{{ page }}");
                        }
                        });
            }
            function sync(mailbox) {
                $("#sync").html("<img src='{{ url_for('static', filename='loading.gif') }}' class='loading' />");
                $.getJSON('/sync/{{ account }}/' + mailbox, {}, function(data) {
                        $("#sync").html("");
                        if(data.success) {
                            open_sync("{{ mailbox }}/{{ page }}");
                        }
                        });
            }
            selected = -1;
            function view_thread(id) {
                $("#entry-" + selected).removeClass("selected");
                $("#sidebar").html("<img src='{{ url_for('static', filename='loading.gif') }}' class='loading' />");
                if(!sidebar_view) {
                    $("#sidebar").css({width:"50%"});
                    $("#content").css({width:"50%"});
                }
                sidebar_view = true;
                selected = id;
                $.getJSON('/ajax/thread/{{ account }}/{{ mailbox }}/' + id, {}, function(data) {
                        $("#entry-" + id).removeClass("unread");
                        $("#entry-" + selected).addClass("selected");
                        $("#sidebar").html(data.message);
                        $("#sidebar").scrollTop($("#sidebar")[0].scrollHeight);
                });
            }
            function popup_block(target) {
                $("#popup-block-content").html("");
                $("#popup-block-header").html("Loading...");
                $("#popup-background").show();
                $.getJSON(target, {}, function(data) {
                    $("#popup-block-content").html(data.content);
                    $("#popup-block-header").html(data.title);
                });
            }
            function close_popup() {
                $("#popup-background").hide();
            }
        </script>
    </head>
    <body>
        <ul id="mailboxes">
            <li id="settings-item"><a href="javascript:popup_block('/settings/account/{{ account }}')"><span>Settings</a></span></li>
            <li id="sync-item"><a href="javascript:sync_full()"><span><div class="sync-text">Sync</div><div id="sync"></div></span></a></li>
            {% for mail in mailboxes %}
            <li {% if mail == mailbox %}class="selected"{% endif %}>
                <a href="/threads/{{ account }}/{{ mail }}/0">
                    <span>{{ mail }} {% if 0 %} {% if mail[2] != 0 %} 
                        <strong>({{ mail[2] }})</strong>{% endif %}{% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div id="content">
            <div class="list">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div id="sidebar">...</div>
        <div class="clearer"></div>
        <div id="popup-background">
            <div id="popup-block" class="page-centered">
                <div class="header"><span id="popup-block-header">Loading...</span><a id="popup-block-close" href="javascript:close_popup()">X</a></div>
                <div class="content" id="popup-block-content">...</div>
            </div>
        </div>

    </body>
</html>

