<li><a href="javascript:add_feed()">Add a feed</a></li>
<li class="selected" id="feed--1"><a href="javascript:load_subitems(-1, '/ajax/feed/-1', '/ajax/fullview/-1')"><span>Unread</span></a></li>
{% for feed in feeds %}
    <li id="feed-{{feed.id}}" {% if feed.unread > 0 %}class="unread"{% endif %}>
    <a href="javascript:load_subitems({{ feed.id }}, '/ajax/feed/{{ feed.id }}/', '/ajax/fullview/{{feed.id}}/')">
        <span>{{ feed.name }}  {% if feed.unread > 0 %}({{ feed.unread }}){% endif %}</span>
         </a>
    </li>
{% else %}
    No feed. Please add one!
{% endfor %}
