{% extends "page-with-sidebar.html" %}
{% block list %}
    {% include "rss-ajax-firstpane.html" %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function add_feed() {
            $("#popup-block-content").html('<form method="POST" action"/">'
                    + '<input type="text" name="new_feed" placeholder="Feed URI..." class="entry" />'
                    + '<input type="submit" /></form>');
            $("#popup-block-header").html("Add a feed");
            $("#popup-background").show();
        }
        function close_popup() {
            $("#popup-background").hide();
        }
        function sync_all_rss() {
            $("#sync-button").addClass("insensitive");
            $("#rootelements").html("<li><img src='{{ url_for('static', filename='loading.gif') }}' class='loading' /></li>");
            $.getJSON("/sync", {}, function(data) {
                    $("#rootelements").html(data.content);
                    $("#sync-button").removeClass("insensitive");
            });
        }

        $(function(){
            $("#viewswitcher > a").click(function(object) {
                view_normal = $(this).attr("id") == "view1";
                if (view_normal) {
                    $("#mainsubdiv").addClass("list");
                }
                else {
                    $("#mainsubdiv").removeClass("list");
                }
                load_subitems(rootitem_selected, '/ajax/feed/' + rootitem_selected, '/ajax/fullview/' + rootitem_selected);
            });
        });
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="layout.js") }}"></script>
{% endblock %}
