{% extends "page-with-sidebar.html" %}
{% block list %}
    <ul>
        <li><a href="javascript:add_feed()">Add a feed</a></li>
    {% for feed in feeds %}
        <li>{{ feed.name }}</li>
    {% else %}
        No feed. Please add one!
    {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function add_feed() {
            $("#popup-block-content").html('<form method="POST" action"/">'
                    + '<input type="text" name="new_feed" placeholder="Feed URI..." />'
                    + '<input type="submit" /></form>');
            $("#popup-block-header").html("Add a feed");
            $("#popup-background").show();
        }
        function close_popup() {
            $("#popup-background").hide();
        }
    </script>
{% endblock %}
