<ul class=entries>
    {% for entry in emails %}
    <li id="entry-{{entry.imapid}}" class="{% if not entry.seen %}unread{% endif %}">
    <a href="javascript:view_thread('{{entry.imapid}}')" class="{{ loop.cycle('odd', 'even') }}">
        <span>
            <span class="sender">{% for sender in entry.sender %}{% if not loop.first %}, {% endif %}{{ sender.name }}{% endfor %}</span>
            <span class="date"><span>{{ entry.date }}</span></span>
            <span class="subject"><span>{{ entry.subject }}</span></span>
        </span>
    </a>
    </li>
        {% else %}
        <li><em>No mail yet. You may need to do a first synchronization.</em></li>
    {% endfor %}
</ul>
