{% set class = "email" %}
{% set default_list = true %}
{% extends "page-with-sidebar.html" %}
{% block header %}
        <script type="text/javascript">
            sidebar_view = false;
            function view_message(id) {
                $("#sidebar").html("...");
                if(!sidebar_view) {
                    $("#sidebar").css({width:"50%"});
                    $("#content").css({width:"50%"});
                }
                sidebar_view = true;
                $.getJSON('/mails/{{ mailbox }}/' + id, {}, function(data) {
                        $("#sidebar").html(data.message);
                });
            }
            var MAILBOX;
            function open_sync(mailbox) {
                set_progress_text("Updating list...");
                MAILBOX = mailbox;
                $.getJSON('/ajax/threadslist/{{ account }}/' + mailbox, {}, function(data) {
                        $("#thread-list").html(data.thread_list);
                        $("#sync-button").removeClass("insensitive");
                        hide_progress();
                });
            }
            function sync_full() {
                set_progress_text("Checking for new emails...");
                show_progress();
                $("#sync-button").addClass("insensitive");
                $.getJSON('/sync/{{ account }}', {}, function(data) {
                        if(data.success) {
                            open_sync("{{ mailbox }}/{{ page }}");
                        }
                        });
            }
            function sync(mailbox) {
                $("#sync-img").attr("src", "{{ url_for('static', filename='img/loading32.gif') }}");
                $.getJSON('/sync/{{ account }}/' + mailbox, {}, function(data) {
                        $("#sync-img").attr("src", "{{ url_for('static', filename='img/view-refresh.png') }}");
                        if(data.success) {
                            open_sync("{{ mailbox }}/{{ page }}");
                        }
                        });
            }
            selected = -1;
            function view_thread(id) {
                $("#entry-" + selected).removeClass("selected");
                $("#sidebar").html("<img src='{{ url_for('static', filename='loading.gif') }}' class='loading' />");
                if(!sidebar_view) {
                    $("#content").css({width:"40%"});
                    $("#sidebar").css({width:"60%"});
                }
                sidebar_view = true;
                selected = id;
                $.getJSON('/ajax/thread/{{ account }}/{{ mailbox }}/' + id, {}, function(data) {
                        $("#entry-" + id).removeClass("unread");
                        $("#entry-" + selected).addClass("selected");
                        $("#sidebar").html(data.message);
                        $("#sidebar").scrollTop($("#sidebar > .message:last").position().top);
                        $("#sidebar blockquote").click(function() {$(this).toggleClass("blockshown"); });
                });
            }
            function popup_block(target) {
                $("#popup-block-content").html("");
                $("#popup-block-header").html("Loading...");
                $("#popup-background").show();
                $.getJSON(target, {}, function(data) {
                    $("#popup-block-content").html(data.content);
                    $("#popup-block-header").html(data.title);
                });
            }
            function close_popup() {
                $("#popup-background").hide();
            }
            function view_dropdown(id) {
                if($('#' + id).hasClass('expanded'))
                $('#' + id).removeClass('expanded');
                    else
                $('#' + id).addClass('expanded');
            }
            function expand_thread(id) {
                //$('#' + id + '>.message-content').slideToggle('fast');
                $('#' + id + '>.message-content').toggle();
                $('#' + id).toggleClass('email-hidden');
            }
                var content = $("#entrysearch").val();
                var entrytimeout = null;
                function timeouted() {
                    if(content != $("#entrysearch").val())
                    {
                        content = $("#entrysearch").val();
                        if(content != "")
                        $.getJSON('/ajax/threadssearch/{{ account }}/' + MAILBOX + "/" + $("#entrysearch").val(), {}, function(data) {
                                $("#thread-list").html(data.thread_list);
                        });
                        else
                        $.getJSON('/ajax/threadslist/{{ account }}/' + MAILBOX, {}, function(data) {
                                $("#thread-list").html(data.thread_list);
                        });
                    }
                    entrytimeout = null;
                }
            $(function() {
                $("#entrysearch").keyup(function() {
                    if(entrytimeout != null) clearTimeout(entrytimeout);
                    entrytimeout = setTimeout("timeouted();", 400);
                });
            });
        </script>
{% endblock %}
{% block rootelementstop %}
            {{ w.button(url_for('static', filename='img/view-refresh.png'), "sync_full()", img=true, id="sync-button") }}
            {{ w.button(url_for('static', filename='img/preferences-desktop.png'), "popup_block('/settings/account/%s')" % account, img=true) }}
            <!--<li id="settings-item" class="inline">
                <ul class="modebutton">
                    
                    <li><a href="javascript:popup_block('/settings/account/{{ account }}')">
                        <img src="{{ url_for('static', filename='img/preferences-desktop.png') }}" />
                    </a></li>
                    <li><a href="javascript:sync_full()">
                        <img id="sync-img" src="{{ url_for('static', filename='img/view-refresh.png') }}" />
                    </a></li>
                    <li class="mailadress"><div class="dropdown" id="dropdownaccount"><div>
                            <a href="javascript:view_dropdown('dropdownaccount')">{{ accountname }}</a>
                            <ul class="dropdown">
                                {% for entry in accounts %}
                                {% if entry.id != account %}
                                <li><a href="/threads/{{ entry.id }}/INBOX/0">{{ entry.name }} ({{ entry.host }})</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div></li>
                </ul>
                <div class="clearer"></div>
            </li>-->
            <div id="searchbar"><form><input id="entrysearch" type="text" class="entry search" /></form></div>
{% endblock %}
{% block rootelements %}

            {% for mail in mailboxes %}
            <li {% if mail == mailbox %}class="selected"{% endif %}>
                <a href="/threads/{{ account }}/{{ mail.replace("/", "%") }}/0">
                    <span>{{ mail }} {% if 0 %} {% if mail[2] != 0 %} 
                        <strong>({{ mail[2] }})</strong>{% endif %}{% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
{% endblock %}

{% block subitems %}
    <script type="text/javascript">
        $(function() {
            open_sync("{{ mailbox }}/{{ page }}");
            sync("{{ mailbox }}");
        });
        setInterval( function() {
            sync("{{ mailbox }}");
        }, 5*60*1000); // 5 minutes
    </script>
    <div id="thread-list">
    </div>
    <a href="{{ page_back }}">&lt;&lt;</a>
    <a href="{{ page_next }}">&gt;&gt;</a>
{% endblock %}
